<div class="education-wrapper">
  <div class="education">
    <h6>EDUCATION</h6>
    <div class="entry">
      <h4>M.Sc. in Computer Science</h4>
      <p>Abasaheb Garware College, Pune | CGPA: 9.30<br><span>June 2020 – April 2022</span></p>
    </div>
    <div class="entry">
      <h4>B.Sc. in Computer Science</h4>
      <p>Vidya Pratisthan, Baramati | 72.2%<br><span>August 2017 – April 2020</span></p>
    </div>
  </div>
  <div class="education-image">
    <img src="assets/Tejas_Eduction.png" alt="Graduation or Education Image" />
  </div>
</div>
