<div class="experience-section">
  <div class="experience-header">
    <h6>EXPERIENCE</h6>
    <h2>My <span class="text-theme">Work Journey</span></h2>
  </div>

  <div class="experience-grid">
    <div class="experience-card" *ngFor="let exp of experienceList">
      <img [src]="exp.logo" [alt]="exp.company" />
      <div class="exp-content">
        <h4>{{ exp.role }}</h4>
        <p class="company">{{ exp.company }} ({{ exp.duration }})</p>
        <!-- <p class="duration">{{ exp.duration }}</p> -->

        <ul *ngIf="exp.showMore">
          <li *ngFor="let point of exp.points">{{ point }}</li>
        </ul>

        <a href="#" class="show-more" (click)="exp.showMore = !exp.showMore; $event.preventDefault()">
          {{ exp.showMore ? 'Show Less' : 'Show More' }}
        </a>
      </div>
    </div>
  </div>
</div>
