.projects {
  background-color: #3F2E3E;
  color: white;
  padding: 2%;
  border-bottom: 1px solid #7A7A7A;

  h6 {
    font-size: 1.8vw;
    margin-bottom: 1.5vw;
    font-weight: bold;
  }

  .entry {
    margin-bottom: 2vw;

    h4 {
      font-size: 1.5vw;
      font-weight: 600;
      margin-bottom: 0.5vw;
      background: linear-gradient(to right, #12c2e9, #f64f59);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 1.2vw;
      font-weight: 300;
      color: #e0e0e0;
      max-width: 90%;
      line-height: 1.4;
    }
  }
}

@media (max-width: 768px) {
  .projects {
    padding: 4%;

    h6 {
      font-size: 3.5vw;
    }

    .entry {
      h4 {
        font-size: 3vw;
      }

      p {
        font-size: 2.5vw;
      }
    }
  }
}
