<div id="introduction" class="introduction">
    <div class="image">
        <img src="./assets/Tejas.png" alt="Tejas Rao">
    </div>
    <div class="text">
        <h6>INTRODUCTION</h6>
        <br>
        <h2>
            I'm Tejas Rao
            <span class="text-theme">Software Developer</span>
        </h2>

        <p>
            I am a Software Developer with 4+ years of experience in designing,
            developing, and maintaining scalable web applications. I specialize
            in Angular and Java-based technologies, with hands-on experience in
            Spring Boot, REST APIs, Angular Material, and modern web development.
            I have worked on application migration, feature development, API
            integration, UI improvements, and production support while following
            Agile development practices.
        </p>

        <div class="container">
            <div class="box experience-box">
                <h3>4+</h3>
                <p>Years of Experience</p>
            </div>

        </div>

        <a href="#"
            class="link-effect link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            (click)="onViewCV()">
            Browse Resume
        </a>
    </div>

</div>