/* You can add global styles to this file, and also import other style files */
html{
font-family: Rubik, Helvetica, Arial, sans-serif;
color: white;
background-color: #3F2E3E;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
